@use "../../styles/shadows";

.dashboard {
  section {
    margin: 2rem auto 4rem auto;
    max-width: 64rem;
    width: 100%;

    .title {
      margin: 1rem 0;
      color: var(--rosa-bebe);
    }
  }

  .companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;

    li {
      list-style: none;
      width: 100%;
      border-top: var(--cinza-borocoxo) 1px solid;
      transition: 0.5s all ease;
      cursor: pointer;

      &.active {
        @extend .shadow-4dp;
        padding: 2rem;
        margin: 0.4rem auto;
        border-radius: 20px;
        border: none;
      }

      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;

        h3 {
          flex: 1;
        }

        p {
          flex: 1;
          text-align: end;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        gap: 2rem;
        max-width: 42rem;
        margin: auto;
      }
    }
  }
}
