.hero {
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  z-index: -10;

  .hello {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
  }

  .wave {
    transform: rotate(180deg);
    z-index: -10;
    height: 4rem;
  }
}
