.hero {
  position: relative;
  width: 100%;
  z-index: -10;
  margin-bottom: 2rem;

  .hello {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
  }

  .wave {
    position: absolute;
    top: -5px;
    transform: rotate(180deg);
    z-index: -10;
    height: 4rem;
  }
}
