.dialog {
  padding: 2rem;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;

    .action {
      margin: 1rem auto 0 auto;
      button {
        margin-left: 0.8rem;
      }
    }
  }
}
