@use "sass:meta";

@mixin colors($args...) {
  @each $name, $color in meta.keywords($args) {
    .bg-#{$name} {
      background-color: #{$color};
    }

    .#{$name} {
      color: #{$color};
    }
  }

  :root {
    @each $name, $color in meta.keywords($args) {
      --#{$name}: #{$color};
    }
  }
}

@include colors(
  $quase-preto: #181818,
  $branco-branco: #fff,
  $cinzinha: #aeaeae,
  $cinza-borocoxo: #efefef,
  $vermelho-lady: red,
  $rosa-bebe: #eeaeca,
  $rosa-bebe-bem-miudo: #fdfafb,
  $rosa-make-me-strong: rgb(237, 91, 154),
  $azul-bebe: #94bbe9
);
